<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diaries</title>
    <link rel="stylesheet" href="css/style.css">
    <style>




.diarys-glid{
    display:grid;
    grid-template-rows: 0 65px auto 50px  ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header  header"
        ".....   ....."
        "img1    img1"
        "title1  title1"
      }

header{
    grid-area:header;
    background: rgba(177, 212, 238,0.3);
}
.img1{
    grid-area:img1;
    /* background: rgba(18, 100, 163, 0.3); */
    /* background-image: url(/images/diaryimg2.png);
     background-size: cover; */
     width: 100%;
}
.img1 img{
    width: 100%;
    max-height: 200px;
}
.title1{
    grid-area:title1;
    /* background: rgba(63, 98, 122, 0.3); */
    margin-left: 10%;
    line-height: 110px;
}


.diary-list{
    display:grid;
    /* grid-template-rows: 0 70px 150px 100px  ; */
    grid-template-columns: 0.5fr 9fr 0;
    grid-template-areas: 
        "left diaryList  right";
}

.diaryList{
    grid-area:diaryList;
    /* background: rgba(63, 98, 122, 0.3); */
}


 .diary-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top:0 ;
    /* background: #d39e9e; */
   }
    .dcard{
     width: 300px;
     height:480px;
     margin-right:60px;
     margin-top:100px;
    }
   .diary-card{
        background: rgba(243, 242, 234, 0.3);
        width: 300px;
        height: 450px;
        border: 2px solid rgb(197, 213, 247);
        box-shadow: 5px 5px 5px 1px rgb(163, 189, 197);
        
       }
   
    .diary-card img{
        width: 100%;
        height: 220px;
    }

    .diary-card h3{
    text-overflow: ellipsis;
    margin-top:0;
    margin-bottom:0;
    margin-left:5%;
    font-size: 2rem;
    }
    
    .dtext{
    height: 170px;
    font-size: 1.4rem;
    margin-top:5px;
    margin-left:7%;
    margin-right: 3%;
    word-break: keep-all;
    word-wrap: break-word;
    text-overflow: ellipsis;/*...を末尾にいれる(overflow:hiddenとセット)*/
    overflow: hidden;

    }
    .dname{
    margin-top: 0.5rem;
    margin-left: 2%;
    margin-bottom:0;
    font-size: 1.6rem;
    color:rgba(71, 72, 74, 0.5)
    }

    

     



</style>
</head>
<body>



<div class="diarys-glid">
    <header>
        <ul>
            <li>
                <a href="/mypage">
                   <% if (typeof user !== 'undefined') { %>
                       <img src="images/account.jpg" class='aimg' alt="" >  
                     <% } %>
               </a>
           </li>
            <li><a href="/">Home</a></li>
            <li><a href="/shops">Shop</a></li>
            <li><a href="/diarys">Diary</a></li>
            <li><a href="/flowers">Flower</a></li>
            <form action="/d_search" method='get'>
                <span class='search-bar'>Search</span><input  class='search' type="text" name='kensaku' placeholder="検索ワード入力" required>
            </form>
               <% if (typeof user == 'undefined') { %>
                <li><a href="/login">Login</a></li>
                <% } else{%>
                <!-- <li><a href="/mypage">mypage</a></li> -->
                <li><a href="/logout">Logout</a></li>
                <% } %>
        </ul>
     </header>
     <div class="img1">
        <img src="../images/diaryimg2.png" alt="">
    </div>
     <div class="title1">
       <h1>Diary List</h1>
     </div>
     
</div>

 

 


<div class="diary-list">
    <div class="diaryList">
       
    <div class="diary-container">
        <% items.forEach((item) => { %>
            <div class="dcard">
            <div class='diary-card'>
                <a href="/diary/<%=item.id%>">
                    <img src="images/uploads/<%= item.image %>" alt="" >
                    <h3><%= item.title%></h3>               
                    <p class='dtext'><%= item.text%></p>
                </a>
           </div>
           <div class="dname"><%= item.shopname %></div>
        </div>
        <% }) %>
    </div>
  </div>
</div>


<footer>
    <h3>Copyright  second-cube</h3>
</footer>
</body>
</html>