<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>花の詳細ページ</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <ul>
        <li><a href="/">ホーム</a></li>
          <li><a href="/shops">店舗</a></li>
          <li><a href="/diarys">日記</a></li>
          <li><a href="/flowers">お花</a></li>
          <li><a href="">検索</a></li>
          <li><a href="/login">ログイン</a></li>
        </ul>
     </header>
    <h1>花の詳細ページ</h1>


    <div><img src="../images/uploads/<%= item.image %>" alt="" style="width: 300px;"></div>
    <h2><%=item.name%></h2>
    <h2>店舗：<%=item.shopname%></h2>
    <h2>価格：<%=item.price%>円</h2>
    <h2>特徴：<%=item.feature%></h2>
    <h2>詳細</h2>
    <textarea name="" id="" cols="30" rows="10"><%=item.text%></textarea>





</body>
</html>