<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers</title>
    <link rel="stylesheet" href="css/style.css">
    <style>




.flowers-glid{
    display:grid;
    grid-template-rows: 0 65px 200px 50px  ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header  header"
        ".....   ....."
        "img1    img1"
        "title1  title1"
      }

header{
    grid-area:header;
    background: rgba(177, 212, 238,0.3);
}
.img1{
    grid-area:img1;
    background: rgba(18, 100, 163, 0.3);
    background-image: url(/images/flowerimg2.png);
     background-size: cover;
}
.title1{
    grid-area:title1;
    /* background: rgba(63, 98, 122, 0.3); */
    margin-left: 10%;
    line-height: 110px;
}


.flower-list{
    display:grid;
    /* grid-template-rows: 0 70px 150px 100px  ; */
    grid-template-columns: 0.5fr 9fr 0;
    grid-template-areas: 
        "left flowerList  right";
}

.flowerList{
    grid-area:flowerList;
    /* background: rgba(63, 98, 122, 0.3); */
}


 .flower-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top:0 ;
    /* background: #d39e9e; */
   }
  .fcard{
    width: 300px;
    height: 450px;
    margin-right:60px;
    margin-top:100px;
  }

   .flower-card{
        background: rgba(243, 242, 234, 0.3);
        width: 300px;
        height: 450px;
        border: 2px solid rgb(197, 213, 247);
        box-shadow: 5px 5px 5px 1px rgb(163, 189, 197);
       
       }
   
    .flower-card img{
        width: 100%;
        height: 300px;
    }

    .flower-card h3{
    text-overflow: ellipsis;
    margin-top:0;
    margin-bottom:0;
    margin-left:5%;
    font-size: 2rem;
    }
    
    .dtext{
    font-size: 1.4rem;
    margin-top:5px;
    margin-left:7%;
    margin-right: 3%;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;/*...を末尾にいれる(overflow:hiddenとセット)*/
    }
    .fname{
    margin-top: 0.5rem;
    margin-left: 2%;
    margin-bottom:0;
    font-size: 1.6rem;
    color:rgba(71, 72, 74, 0.5)
    }

    .fprice{
        margin-left:5%;
        font-size: 1.6rem;
    }
    .ffeature{
        margin-left:5%;
        font-size: 1.6rem;
    }

    

     



</style>
</head>
<body>



<div class="flowers-glid">
    <header>
        <ul>
            <li>
                <a href="/mypage">
                   <% if (typeof user !== 'undefined') { %>
                       <img src="images/account.jpg" class='aimg' alt="" >  
                     <% } %>
               </a>
           </li>
            <li><a href="/">Home</a></li>
            <li><a href="/shops">Shop</a></li>
            <li><a href="/diarys">Diary</a></li>
            <li><a href="/flowers">Flower</a></li>
            <form action="/f_search" method='get'>
                <span class='search-bar'>Search</span><input  class='search' type="text" name='kensaku' placeholder="検索ワード入力" required>
            </form>
               <% if (typeof user == 'undefined') { %>
                <li><a href="/login">Login</a></li>
                <% } else{%>
                <!-- <li><a href="/mypage">mypage</a></li> -->
                <li><a href="/logout">Logout</a></li>
                <% } %>
        </ul>
     </header>
     <div class="img1">

    </div>
     <div class="title1">
       <h1>Flower List</h1>
     </div>
     
</div>

 

 


<div class="flower-list">
    <div class="flowerList">
       
        <div class="flower-container">
            <% items.forEach((item) => { %>
             <div class="fcard">
                <div class='flower-card'>
                    <a href="/flower/<%=item.id%>">
                    <img src="images/uploads/<%= item.image %>" alt="">
                    <h3><%= item.name%></h3>
                    <div class='fprice'><%= item.price%>円（税別）</div>
                    <div class='ffeature'><%= item.feature%></div>
                </a>
               </div>
               <h2 class='fname'><%= item.shopname %></h2>
            </div>
               <% }) %>
            </div>
  </div>
</div>


<footer>
    <h3>Copyright  second-cube</h3>
</footer>
</body>
</html>