<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>花登録ページ</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        .diary-card{
            background-color:rgba(202, 211, 214, 0.555);
            width:600px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <header>
        <ul>
          <li><a href="/">ホーム</a></li>
          <li><a href="/shops">店舗</a></li>
          <li><a href="/diarys">日記</a></li>
          <li><a href="/flowers">お花</a></li>
          <li><a href="">検索</a></li>
          <li><a href="/login">ログイン</a></li>
        </ul>
     </header>
    <h1>花登録</h1>


    <form action="/fileup" method="POST" enctype="multipart/form-data">
        
        <input type="file" name="file"><br>
        タイトル<input type="text" name="title"><br>
        タグ<input type="text" name="tag"><br>
        テキスト<textarea name="text" ></textarea><br>
    
        <button type="submit">送信</button>
    </form>

<h2>画像表示</h2>

<% items.forEach((item) => { %>
 <div class='diary-card'>
     <div class="update"><a href="/diaryEdit/<%=item.id%>">編集</a></div>
     <div class="delete"><a href="/diaryDelete/<%=item.id%>">削除</a></div>
     <h2><%= item.title%></h2>
     <p><%= item.tag%></p>
     <h3><%= item.text%></h3>
     <p><%= item.created_at%></p>
    <img src="images/uploads/<%= item.image %>" alt="">
</div>
<% }) %>
<!-- <img src="images/top2rere.png" alt="">
<img src="images/uploads/kasa.jpg" alt=""> -->
</body>
</html>