<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>店舗情報編集</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
   
    </style>
</head>
<body>
    <header>
        <ul>
          <li><a href="/">ホーム</a></li>
          <li><a href="/shops">店舗</a></li>
          <li><a href="/diarys">日記</a></li>
          <li><a href="/flowers">お花</a></li>
          <li><a href="">検索</a></li>
          <li><a href="/login">ログイン</a></li>
        </ul>
     </header>
    <h1>店舗情報編集</h1>
<h2>画像情報編集</h2>
    <form action="/myprofile_img" method="post" enctype="multipart/form-data">
        プロフィール写真の変更<input type="file" name="file"><br>
       店舗詳細写真の変更 <input type="file" name="shop_img"><br>
        店舗画像１<input type="file" name="img1"><br>
        店舗画像２<input type="file" name="img2"><br>
        <input type="submit" value="送信">
    </form>


<h2>基本情報編集</h2>
    <form action='/myprofileUpdate/<%=item.id%>' method="post" >
     
        店舗名<input type="text" name="name" value='<%= item.name%>'><br>
        店舗サブタイトル<input type="text" name="title" value='<%= item.title%>'><br>
        アカウント名<input type="text" name="account_name" value='<%= item.account_name%>'><br>
        ウェブサイト<input type="text" name="web" value='<%= item.web%>'><br>
        メールアドレス<input type="text" name="email" value='<%= item.email%>'><br>
        電話番号<input type="text" name="tell" value='<%= item.tell%>'><br>
        営業時間
        オープン<input type="text" name="open" value='<%= item.open%>'><br>
        クローズ<input type="text" name="close" value='<%= item.close%>'><br>
        定休日<input type="text" name="holiday" value='<%= item.holiday%>'><br>
        住所<input type="text" name="location" value='<%= item.location%>'><br>
        地図<input type="text" name="map" value='<%= item.map%>'><br>
        店舗タイトル<input type="text" name="message" value='<%= item.message%>'><br>
        店舗コメント<textarea name="comment"><%= item.comment%></textarea><br>
    
        <button type="submit">送信</button>
    </form>



</body>
</html>