<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日記一覧ページ</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <ul>
          <li><a href="/">ホーム</a></li>
          <li><a href="/shops">店舗</a></li>
          <li><a href="/diarys">日記</a></li>
          <li><a href="/flowers">お花</a></li>
          <li><a href="">検索</a></li>
          <li><a href="/login">ログイン</a></li>
        </ul>
     </header>
    <h1>日記一覧ページ</h1>
    <% if (typeof user !== 'undefined') { %>
        <h2 class="login-user"><%= user.name %>さんとしてログインしています</h2>
    <% } %>

 <div class='diary-card'>
     <h2><%= item.title%></h2>
     <p><%= item.tag%></p>
     <h3><%= item.text%></h3>
     <p><%= item.created_at%></p>
    <img src="images/uploads/<%= item.image %>" alt="" style='width:300px'>
    <h2 class="board__date"><%= item.name %></h2>
</div>
</body>
</html>