<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>店舗詳細ページ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <style>
      body{
        font-size:2rem;
        widows: 1200px;
        margin:0 auto;
        min-height:100vh;
        display:grid;
        grid-template:
           "header header header"
           "title  title   tile"
           "center center  center"
           "title  title   tile"
           "left   right"
           "flest  flist   flist"
           "title  title   tile"
           "dlist  dlist   dlist"
           "footer footer  footer";
      }

        header{
          grid-area: header;
            /* height: 50px;
            position: fixed;
            width: 1200px;
            background-color: rgba(0, 1, 3, 0.3); */
        
        }
        header ul{
            display: flex;
            list-style: none;
            justify-content: space-around;
        }
        header ul li a{
            color:rgb(216, 241, 235);
            font:20px bold;
            text-decoration: none;
        }
        .title{
          grid-area: title;
        }
        
        main{
          grid-area: center;
        }

       nav{
        grid-area: left;
       }

       aside{
        grid-area: right;
       }

       .flist{
        grid-area: flist;
       }
  
        img{
            width: 300px;
        }
  
       .flowers ,.diarys{
           display: flex;
           flex-wrap: wrap;
       }

    </style>
</head>
<body>
    <!-- <header>
        <ul>
            <li><a href="/">ホーム</a></li>
            <li><a href="/shops">店舗</a></li>
            <li><a href="/diarys">日記</a></li>
            <li><a href="/flowers">お花</a></li>
            <li><a href="">検索</a></li>
            <li><a href="/login">ログイン</a></li>
        </ul>
     </header> -->

    <header>ヘッダー</header>
     <div class='title'>タイトル</div>
     <main>メインイメージ</main>
     <nav>left</nav>
     <aside>right</aside>
     <div class='title'>タイトル</div>
     <div class='flist'>画像リスト</div>
     <div class='title'>タイトル</div>
     <div class='dlist'>日記リスト</div>
     <footer>フッター</footer>



      <h2><%=item[0].name%></h2>
     
      <h3><%=item.title%></h3>
      <div><img src="../images/uploads/<%= item[0].shop_img %>" alt=""></div>
      <div><img src="../images/uploads/<%= item[0].img1 %>" alt=""></div>
      <div><%=item[0].message%></div>
      <div><%=item[0].comment%></div>
      <a href="#">店舗詳細へ</a>

      <!-- ここに花一覧の記述 -->
      <h2><%=item[0].name%>のお花一覧</h2>
      <div class="flowers">
      <% fitem.forEach((fite) => { %>
      <div><a href="/flower/<%=fite.id%>">
        <div class="flower"><img src="../images/uploads/<%= fite.image %>" alt=""></div>
        <h3><%=fite.name%></h3>
        <p><%=fite.price%></p>
        <p><%=fite.feature%></p>
    </a></div>
      <% }) %>
    </div>


      <!-- ここに日記一覧の記述 -->
      <h2><%=item[0].name%>の日記一覧</h2>
    <div class="diarys">
      <% ditem.forEach((dite) => { %>
      <div><a href="/diary/<%=dite.id%>">
        <div class="diary"><img src="../images/uploads/<%= dite.image %>" alt=""></div><br>
        <p><%=dite.title%></p>
        <p><%=dite.text%></p>
    </a> </div>
      <% }) %>
    </div>




<div class='container'>
  <div class='row'>
  <% ditem.forEach((dite) => { %>
  <div class='col-lg-4'><a href="/diary/<%=dite.id%>">
    <img src="../images/uploads/<%= dite.image %>" alt="" style="width: 100%;height: 200px;">
    <div class="card-body">
      <h5 class="card-title"><%=dite.title%></h5>
      <p class="card-text"><%=dite.text%></p>
      <p class="card-text"><small class="text-muted">タグはここに</small></p>
    </div>
  </a></div>

  <% }) %>
</div>





      <h2>店舗詳細</h2>
      <div><img src="../images/uploads/<%= item[0].img2 %>" alt=""></div>
      <div>
          <h3>営業時間：<%=item[0].open%>〜<%=item[0].close%></h3>
          <h3>定休日：<%=item[0].holiday%></h3>
          <h3>住所：<%=item[0].location%></h3>
          <iframe src="<%=item[0].map %>" width='300px' frameborder="0"></iframe>

      </div>

  
    








<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>