<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>店舗詳細ページ</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <style>
        header{
            height: 50px;
            position: fixed;
            width: 1200px;
            background-color: rgba(0, 1, 3, 0.3);
        
        }
        header ul{
            display: flex;
            list-style: none;
            justify-content: space-around;
        }
        header ul li a{
            color:rgb(216, 241, 235);
            font:20px bold;
            text-decoration: none;
        }

        img{
            width: 300px;
        }
  
       .flowers ,.diarys{
           display: flex;
           flex-wrap: wrap;
       }

    </style>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">ホーム</a></li>
            <li><a href="/shops">店舗</a></li>
            <li><a href="/diarys">日記</a></li>
            <li><a href="/flowers">お花</a></li>
            <li><a href="">検索</a></li>
            <li><a href="/login">ログイン</a></li>
        </ul>
     </header>
    <h1>店舗詳細ページ</h1>
      <h2><%=item[0].name%></h2>
     
      <h3><%=item.title%></h3>
      <div><img src="images/uploads/<%= item[0].shop_img %>" alt=""></div>
      <div><img src="images/uploads/<%= item[0].img1 %>" alt=""></div>
      <div><%=item[0].message%></div>
      <div><%=item[0].comment%></div>
      <a href="#">店舗詳細へ</a>

      <!-- ここに花一覧の記述 -->
      <h2><%=item[0].name%>のお花一覧</h2>
      <div class="flowers">
      <% item.forEach((ite) => { %>
      <div class="flower"><img src="images/uploads/<%= ite.fimg %>" alt=""></div>
      <% }) %>
    </div>


      <!-- ここに日記一覧の記述 -->
      <h2><%=item[0].name%>の日記一覧</h2>
    <div class="diarys">
      <% item.forEach((ite) => { %>
      <div class="diary"><img src="images/uploads/<%= ite.dimg %>" alt=""></div>
      <% }) %>
    </div>



      <h2>店舗詳細</h2>
      <div><img src="images/uploads/<%= item[0].img2 %>" alt=""></div>
      <div>
          <h3>営業時間：<%=item[0].open%>〜<%=item[0].close%></h3>
          <h3>定休日：<%=item[0].holiday%></h3>
          <h3>住所：<%=item[0].location%></h3>
          <iframe src="<%=item[0].map %>" width='300px' frameborder="0"></iframe>

      </div>

  
    









</body>
</html>